<a href="https://colab.research.google.com/github/mikaeelkhalid/CS531-machine-learning/blob/master/a02-multivariate-linear-regression-model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = "/content/drive/My Drive/data/multi-variate-regression-course-evaluation.txt"

In [ ]:
#reading the data from given dataset
df = pd.read_csv(path, delim_whitespace=True)
df.drop('SNo', axis=1, inplace=True)
print(df.shape)
df.head()

(40, 7)

      A      Q    S1   S2      F    P  Score
0  6.25   3.75  5.76  7.5  24.11  9.0  56.39
1  7.00   4.75  8.84  8.5  35.29  9.5  73.89
2  9.75  10.00  3.07  6.5  35.29  7.5  72.12
3  9.75   9.75  2.69  5.5  28.82  5.5  62.02
4  5.50   1.50  4.03  8.0  24.11  7.5  50.66

In [ ]:
A = df['A'].values
Q = df['Q'].values
S1 = df['S1'].values
S2 = df['S2'].values
F = df['F'].values
P = df['P'].values
Score = df['Score'].values

In [ ]:
m = len(A)
x0 = np.ones(m)
X = np.array([A, Q, S1, S2, F, P]).T

B = np.array([0, 0, 0, 0, 0, 0])

Y = np.array(Score)

alpha = 0.0001

In [ ]:
def cost_function(X, Y, B):
    m = len(Y)
    J = np.sum((X.dot(B) - Y) ** 2)/(2 * m)
    return J

In [ ]:
inital_cost = cost_function(X, Y, B)
print(inital_cost)

2111.61479375

In [ ]:
def gradient_descent(X, Y, B, alpha, iterations):
  cost_history = [0] * iterations
  m = len(Y)

  for iteration in range(iterations):
    h = X.dot(B)
    loss = h - Y
    gradient = X.T.dot(loss) / m
    B = B - alpha * gradient
    cost = cost_function(X, Y, B)
    cost_history[iteration] = cost

  return B, cost_history

In [ ]:
newB, cost_history = gradient_descent(X, Y, B, alpha, 100000)
print(newB)

[1.00171352 0.99916056 1.00069143 1.00017691 0.99997054 1.00001695]

In [ ]:
print(cost_history[-1])

1.6385166489107843e-05