<a href="https://colab.research.google.com/github/mikaeelkhalid/CS531-machine-learning/blob/master/a03-outlier-detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Univariate

In [95]:
import pandas as pd
import numpy as np

In [96]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [97]:
path = "/content/drive/My Drive/data/Mall_customers.csv"

In [98]:
corpus = pd.read_csv(path)

In [99]:
corpus

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [100]:
annualIncome  = corpus.iloc[:, 3]

In [101]:
annualIncome

0       15
1       15
2       16
3       16
4       17
      ...
195    120
196    126
197    126
198    137
199    137
Name: Annual Income (k$), Length: 200, dtype: int64

In [102]:
annualMedian = np.median(annualIncome)

In [103]:
print('\n Global Median of Annual Income is, ', annualMedian)

 Global Median of Annual Income is,  61.5

In [104]:
annualCutoff = annualMedian * 2 # k [1, 4], k = 2

In [105]:
annualLower, annualUpper = annualMedian - annualCutoff, annualMedian + annualCutoff

In [106]:
print('annualLower & annualUpper', annualLower, annualUpper)

annualLower & annualUpper -61.5 184.5

In [107]:
for income in annualIncome:
  if income < annualLower or income > annualUpper:
    print(income)

In [108]:
spendingScore = corpus.iloc[:, 4]

In [109]:
spendingScore

0      39
1      81
2       6
3      77
4      40
       ..
195    79
196    28
197    74
198    18
199    83
Name: Spending Score (1-100), Length: 200, dtype: int64

In [110]:
spendingMedian = np.median(spendingScore)

In [111]:
print('\n Global Median of spending Income is, ', spendingMedian)

 Global Median of spending Income is,  50.0

In [112]:
spendingCutoff = spendingMedian * 2 # k [1, 4], k = 2

In [113]:
spendingLower, spendingUpper = spendingMedian - spendingCutoff, spendingMedian + spendingCutoff

In [114]:
print('spendingLower & spendingUpper', spendingLower, spendingUpper)

spendingLower & spendingUpper -50.0 150.0

In [115]:
for spending in spendingScore:
  if spending < spendingLower or spending > spendingUpper:
    print(spending)

# Multivariate

In [124]:
data = corpus.iloc[: , 2 : 5].values

In [135]:
data

array([[ 19,  15,   0],
       [ 21,  15,  81],
       [ 20,  16,   6],
       [ 23,  16,  77],
       [ 31,  17,  40],
       [ 22,  17,  76],
       [ 35,  18,   6],
       [ 23,  18,  94],
       [ 64,  19,   3],
       [ 30,  19,  72],
       [ 67,  19,  14],
       [ 35,  19,  99],
       [ 58,  20,  15],
       [ 24,  20,  77],
       [ 37,  20,  13],
       [ 22,  20,  79],
       [ 35,  21,  35],
       [ 20,  21,  66],
       [ 52,  23,  29],
       [ 35,  23,  98],
       [ 35,  24,  35],
       [ 25,  24,  73],
       [ 46,  25,   5],
       [ 31,  25,  73],
       [ 54,  28,  14],
       [ 29,  28,  82],
       [ 45,  28,  32],
       [ 35,  28,  61],
       [ 40,  29,  31],
       [ 23,  29,  87],
       [ 60,  30,   4],
       [ 21,  30,  73],
       [ 53,  33,   4],
       [ 18,  33,  92],
       [ 49,  33,  14],
       [ 21,  33,  81],
       [ 42,  34,  17],
       [ 30,  34,  73],
       [ 36,  37,  26],
       [ 20,  37,  75],
       [ 65,  38,  35],
       [ 24,  38,  92],
       [ 48,  39,  36],
       [ 31,  39,  61],
       [ 49,  39,  28],
       [ 24,  39,  65],
       [ 50,  40,  55],
       [ 27,  40,  47],
       [ 29,  40,  42],
       [ 31,  40,  42],
       [ 49,  42,  52],
       [ 33,  42,  60],
       [ 31,  43,  54],
       [ 59,  43,  60],
       [ 50,  43,  45],
       [ 47,  43,  41],
       [ 51,  44,  50],
       [ 69,  44,  46],
       [ 27,  46,  51],
       [ 53,  46,  46],
       [ 70,  46,  56],
       [ 19,  46,  55],
       [ 67,  47,  52],
       [ 54,  47,  59],
       [ 63,  48,  51],
       [ 18,  48,  59],
       [ 43,  48,  50],
       [ 68,  48,  48],
       [ 19,  48,  59],
       [ 32,  48,  47],
       [ 70,  49,  55],
       [ 47,  49,  42],
       [ 60,  50,  49],
       [ 60,  50,  56],
       [ 59,  54,  47],
       [ 26,  54,  54],
       [ 45,  54,  53],
       [ 40,  54,  48],
       [ 23,  54,  52],
       [ 49,  54,  42],
       [ 57,  54,  51],
       [ 38,  54,  55],
       [ 67,  54,  41],
       [ 46,  54,  44],
       [ 21,  54,  57],
       [ 48,  54,  46],
       [ 55,  57,  58],
       [ 22,  57,  55],
       [ 34,  58,  60],
       [ 50,  58,  46],
       [ 68,  59,  55],
       [ 18,  59,  41],
       [ 48,  60,  49],
       [ 40,  60,  40],
       [ 32,  60,  42],
       [ 24,  60,  52],
       [ 47,  60,  47],
       [ 27,  60,  50],
       [ 48,  61,  42],
       [ 20,  61,  49],
       [ 23,  62,  41],
       [ 49,  62,  48],
       [ 67,  62,  59],
       [ 26,  62,  55],
       [ 49,  62,  56],
       [ 21,  62,  42],
       [ 66,  63,  50],
       [ 54,  63,  46],
       [ 68,  63,  43],
       [ 66,  63,  48],
       [ 65,  63,  52],
       [ 19,  63,  54],
       [ 38,  64,  42],
       [ 19,  64,  46],
       [ 18,  65,  48],
       [ 19,  65,  50],
       [ 63,  65,  43],
       [ 49,  65,  59],
       [ 51,  67,  43],
       [ 50,  67,  57],
       [ 27,  67,  56],
       [ 38,  67,  40],
       [ 40,  69,  58],
       [ 39,  69,  91],
       [ 23,  70,  29],
       [ 31,  70,  77],
       [ 43,  71,  35],
       [ 40,  71,  95],
       [ 59,  71,  11],
       [ 38,  71,  75],
       [ 47,  71,   9],
       [ 39,  71,  75],
       [ 25,  72,  34],
       [ 31,  72,  71],
       [ 20,  73,   5],
       [ 29,  73,  88],
       [ 44,  73,   7],
       [ 32,  73,  73],
       [ 19,  74,  10],
       [ 35,  74,  72],
       [ 57,  75,   5],
       [ 32,  75,  93],
       [ 28,  76,  40],
       [ 32,  76,  87],
       [ 25,  77,  12],
       [ 28,  77,  97],
       [ 48,  77,  36],
       [ 32,  77,  74],
       [ 34,  78,  22],
       [ 34,  78,  90],
       [ 43,  78,  17],
       [ 39,  78,  88],
       [ 44,  78,  20],
       [ 38,  78,  76],
       [ 47,  78,  16],
       [ 27,  78,  89],
       [ 37,  78,   1],
       [ 30,  78,  78],
       [ 34,  78,   1],
       [ 30,  78,  73],
       [ 56,  79,  35],
       [ 29,  79,  83],
       [ 19,  81,   5],
       [ 31,  81,  93],
       [ 50,  85,  26],
       [ 36,  85,  75],
       [ 42,  86,  20],
       [ 33,  86,  95],
       [ 36,  87,  27],
       [ 32,  87,  63],
       [ 40,  87,  13],
       [ 28,  87,  75],
       [ 36,  87,  10],
       [ 36,  87,  92],
       [ 52,  88,  13],
       [ 30,  88,  86],
       [ 58,  88,  15],
       [ 27,  88,  69],
       [ 59,  93,  14],
       [ 35,  93,  90],
       [ 37,  97,  32],
       [ 32,  97,  86],
       [ 46,  98,  15],
       [ 29,  98,  88],
       [ 41,  99,  39],
       [ 30,  99,  97],
       [ 54, 101,  24],
       [ 28, 101,  68],
       [ 41, 103,  17],
       [ 36, 103,  85],
       [ 34, 103,  23],
       [ 32, 103,  69],
       [ 33, 113,   8],
       [ 38, 113,  91],
       [ 47, 120,  16],
       [ 35, 120,  79],
       [ 45, 126,  28],
       [ 32, 126,  74],
       [ 32, 137,  18],
       [ 30, 137,  83]])

In [136]:
from sklearn.neighbors import LocalOutlierFactor

In [137]:
LOF = LocalOutlierFactor(n_neighbors = 2)

In [138]:
LOF

LocalOutlierFactor(algorithm='auto', contamination='auto', leaf_size=30,
                   metric='minkowski', metric_params=None, n_jobs=None,
                   n_neighbors=2, novelty=False, p=2)

In [140]:
res = LOF.fit_predict(data)

In [143]:
print('\n Multivariate Outliers values labeled with -1', res)

 Multivariate Outliers values labeled with -1 [ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1
  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1 -1  1  1  1 -1  1  1  1 -1  1  1  1  1  1
  1  1 -1  1  1  1 -1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1 -1  1  1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1 -1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1]