<a href="https://colab.research.google.com/github/mikaeelkhalid/CS531-machine-learning/blob/master/ml_a0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# White Space Formatting

In [ ]:
for i in [1, 2, 3, 4, 5]:
  print(i)
  for j in [1, 2, 3, 4, 5]:
    print(j)
    print(i+j)
  print(i)
print("done looping.")

In [ ]:
# Modules

In [3]:
import re
import matplotlib.pyplot as plt

my_regex = re.compile("[0-9]+", re.I)

print(my_regex)

re.compile('[0-9]+', re.IGNORECASE)

In [ ]:
# Arithmetics

In [7]:
x = 5/2
print("5/2 = ", x)

y = 5//2
print("5//2 = ", y)

5/2 =  2.5
5//2 =  2

In [ ]:
# Functions

In [8]:
def double(x):

  return x*2

def apply_to_one(f):

  return f(1)

my_double = double
x = apply_to_one(my_double)

y = apply_to_one(lambda x: x + 4)

In [ ]:
# Strings

In [ ]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

tab_string = "\t"
len(tab_string)

multi_line_string = """this is the first line.
this is the second line.
and this is the second line"""

In [ ]:
# Exceptions

In [ ]:
try:
  print 0/0
except ZeroDivideZeroError:
  print "cannot divide by zero"

In [ ]:
# Lists

In [1]:
integer_list = [1,2,3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, [] ]

list_length = len(integer_list)
list_sum = sum(integer_list)

In [ ]:
# Tuples

In [2]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3

try:
  my_tuple[1] = 3
except TypeError:
  print ("cannot modify a tuple")

cannot modify a tuple

In [ ]:
# Dictionaries

In [3]:
empty_dict = {}
empty_dict2 = dict()
grades = {"Joel" : 80, "Tim" : 95}

joels_grade = grades["Joel"]

joel_has_grade = "Joel" in grades
kate_has_grade = "Kate" in grades

joels_grade = grades.get("Joel", 0)
kates_grade = grades.get("Kate", 0)
no_ones_grade = grades.get("No One")

In [ ]:
# Control Flows

In [5]:
if 1>2:
  message = "if only 1 were greater than two"
elif 1>3:
  message = "elif stands for 'else if'"
else:
  message = "when all else fails use else (if you want to)"

In [ ]:
# Loops

In [6]:
x = 0
while x < 10:
  print (x, " is less than 10")
  x += 1

for x in range(10):
  print (x, " is less than 10")

for x in range(10):
  if x == 3:
    continue
  if x == 5:
    break
  print (x)

0  is less than 10
1  is less than 10
2  is less than 10
3  is less than 10
4  is less than 10
5  is less than 10
6  is less than 10
7  is less than 10
8  is less than 10
9  is less than 10
0  is less than 10
1  is less than 10
2  is less than 10
3  is less than 10
4  is less than 10
5  is less than 10
6  is less than 10
7  is less than 10
8  is less than 10
9  is less than 10
0
1
2
4

In [ ]:
# Sorting

In [7]:
x = [4,1,2,3]
y = sorted(x)
x.sort()